<?xml version='1.1' encoding='UTF-8'?>
<hudson.model.FreeStyleProject>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 1 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;BUILD NUMBER FOR THIS IS $BUILD_NUMBER&quot;
echo &quot;BUILD ID IS $BUILD_ID&quot;
echo &quot;BUILD URL IS $BUILD_URL&quot;
echo &quot;JOB NAME IS $JOB_NAME&quot;
echo &quot;*********************&quot;
echo $NAME_OF_THE_COURSE
echo $COUNTRY</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@438.v02c7f0a_12fa_4">
      <recipients>mayadani28@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</hudson.model.FreeStyleProject>